@import url('https://kit.fontawesome.com/6bffcc9069.js');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    color:white;
    font-size: 20px;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    line-height: 1.5;
    color:white;
}
/* heading */
li{
    list-style-type: none;
}
/* a,img,span,iframe,button{
    display: block;
} */
.navbar{
    position: relative;
    padding-block: 24px;
    padding-inline: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.navbar .logo{
    margin-inline-end: auto;
}

.search{
    position: relative;
    flex-grow: 1;
}
#search{
    background-color: rgb(48, 46, 46);
    height:40px;
    line-height: 40px;
    padding-inline: 44px 16px;
    outline: none;
    border-radius: 6px;
}
.search .icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12em;
    /* opacity: 1; */
}
.nav-lists{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
a{
    text-decoration: none;
}
/* a,img{
    display: block;
} */
.nav-link{
    color: white; 
}
.nav-link:is(:hover){
    color:blanchedalmond;
}

