@import url('https://kit.fontawesome.com/6bffcc9069.js');
* {
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: rosybrown;
}
.navbar {
    color: #c1c1c1;
    background-color: #141414;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-left{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
}
.nav-icon{
    margin: 20px;
    font-size:20px;
    color: white;
}
.sidebar{
    width: 70px;
    height: 100%;
    background-color: #141414;
    padding-top: 5em;
    position: fixed;
    top:0;
    z-index: -1;
}
.side-icon{
    color: white;
    margin: 27px;
    font-size: 25px;
}

a{
    margin: 20px;
}
.nav-right{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

i {
    margin: 5px;
    font-size: 20px;
    text-align:center;
    /*height: 15em;*/
}

.button{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
button{
    background-color: #141414;
    color: #c1c1c1;
    width: 13em;
    height: 3em;
    margin: 3em 2em 0 2em;
}
.title{
    color: #141414;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-top: 2em;
    text-align: center;
    /*width: 10em;*/
}
.genre{
    color: #141414;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1em;

}

.loading{
    width:100%;
    height:auto;
   display: flex;
    opacity: 0.7;
    margin:2em;
}
#display-movies{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-content: space-evenly;

}

.image{
    width:20em;
    height:22em;
}

.dropdown-menu{
    width: 17em;
    text-align: center;
    background: bisque;
}


.image:hover .image {
    transform: scale(1.2);
    margin: 1em 5px;
    opacity: 0.7;
}
.card {
    background: linear-gradient(60deg, #11808C, #FC0019, #01FF4F, #FF01D7, #5600CC, #00EDF5);
    margin: 3em 2em;
}